<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Foundation</title>
   <link rel="stylesheet" href="./stylesheets/app.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body>
   <div class="row">
      <div class="small-12 columns">
         <h1>Foundation</h1>
         <ul>
            <li>Sass compiling (LibSass / Compass options)</li>
            <li>Mustache templating engine (option)</li>
            <li>BrowserSync server with live reloading</li>        
            <li>Gulp automation</li>
         </ul>
      </div>
   </div>
   <script src="js/bundle.js"></script>
</body>
</html>